/* -- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*--Main structure style--*/

body {
    background-image: url(file:///C:/Users/amcst/Documents/github/Vanilla/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #232020;
    margin: 2rem;

}

section, header, footer {
    width: 20%;
    max-width: 700px;
    margin: auto;
}

/*--styling typograpghy--*/
h2,h3 {
    color: #4E4330;
}

h1 {
    font-size: 5rem;
    font-family: 'ABeeZee', sans-serif;
    color: #4E4330;
    margin-top: 7.5rem;
}

h2 {
    font-size: 1.999rem;
    margin: 3em 0 1 em 0;
}

h3 {
    font-size: 1.25rem;
    margin: 3em 0 1 em 0;
}

p, blockquote {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

blockquote {
    color: #F5ED7B;
    font-size: 1.15rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.5rem;

}
cite {
    color: rgb(233, 231, 231);
    font-size: 0.8rem;
    font-style: normal;
}

a {
    color: #E6CC4E;
    text-decoration: none;
  }
  
  
  /* mouse over link */
  a:hover {
    color: #A7754D;
    text-decoration: none;
  }

  /*--nav--*/
  nav {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      Background: #6C553A;
      padding: 2em 10;
  }
  nav ul {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1;
  }

  ul li {
      display: inline;
      margin: 28px;
  }

  nav a {
      color: #E6CC4E;
  }

  nav a:hover {
      border-bottom: none;
      color: #A7754D;
      transition: all 0.4s ease-in-out;
  }

.circle{
    padding-left: 10px;
}

.column {
    float: left;
    width: 50%;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
   
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

p1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-left: 50px;
    display: flex;
    list-style-type:none;
    width:60%;
    margin-left: 10px;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
}
p2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-left: 50px;
    display: flex;
    list-style-type:none;
    width:60%;
    margin-left: 10px;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
   
}
button {
    background-color: #e6cc4e; 
    border: none;
    color: #232020;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
 display: inline-block;
    font-size: 16px;
    margin-right: 50px;
    font-size: large;
  
  }
  button:hover {
        background-color:  #ceb228; 
        ;
      }

      div.horizontalgap {
        float: left;
        overflow: hidden;
        height: 1px;
        width: 0px;
      }
 